|Welcome, #{@email},
br
br
|You are almost ready to use #{Configuration[:company_name]}! Please confirm your email by clicking the link below:
br
br
h1 #{link_to 'Confirm my email', confirmation_url(@resource, :confirmation_token => @token)}
br
br
|If you think that you have received this email in error, please disregard it.
br
br
|Yours sincerely,
br
|The #{Configuration[:company_name]} Team
