- user = @notification.user
|Hello, #{user.name}!
br
br
|Thank you very much for your project submission to #{Configuration[:company_name]}. We have received it and will follow up shortly. Our team will review your application to make sure it sits well with MicroPasts’ emphasis on collaborative open research and we’ll follow up with you within a week if at all possible. The project will either be approved, or sent back to you for further clarification.
br
br
|Meanwhile, you can begin adding details to #{link_to "your project draft", project_url(@notification.project)} if you'd like, but please note that it will remain in draft mode until approval. The possibility exists that it might be rejected.
br
br
|Also,  #{link_to "check out other projects",  "#{Configuration[:base_url]}/explore"} for inspiration. And if you like them, make a contribution. Not only is your support for these other ventures very welcome, but going through this process is a great way to get to know the system.
br
br
|Please like #{Configuration[:company_name]} on  #{link_to 'Facebook', Configuration[:facebook_url]} and follow us on #{link_to 'Twitter', "http://twitter.com/#{Configuration[:twitter_username]}" } to stay up to date on new developments. And if you have any questions, please don't hesitate to email us: #{mail_to Configuration[:email_contact]}
br
br
|We look forward to working with you,
br
|The #{Configuration[:company_name]} Team
